/*--------------------------------------------------------------
# Based on Cruip framework - v1.0.0
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables, functions and mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widths and spacing
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Other settings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buttons and forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buttons and forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
	* normalize.css v7.0.0 | MIT License
	* github.com/necolas/normalize.css
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800&display=swap');
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
@media (min-width: 641px) {
	.has-animations [class*='reveal-'] {
		opacity: 0;
		will-change: opacity, transform;
	}
	.has-animations .reveal-from-top {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	.has-animations .reveal-from-bottom {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	.has-animations .reveal-from-left {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	.has-animations .reveal-from-right {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	.has-animations .reveal-scale-up {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	.has-animations .reveal-scale-down {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	.has-animations .reveal-rotate-from-left {
		-webkit-transform: perspective(1000px) rotateY(-45deg);
		transform: perspective(1000px) rotateY(-45deg);
	}
	.has-animations .reveal-rotate-from-right {
		-webkit-transform: perspective(1000px) rotateY(45deg);
		transform: perspective(1000px) rotateY(45deg);
	}
	.has-animations.is-loaded [class*='reveal-'] {
		-webkit-transition: opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1),
			-webkit-transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1),
			-webkit-transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1),
			transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1),
			transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1),
			-webkit-transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	.has-animations.is-loaded [class*='reveal-'].is-revealed {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #eceded;
	/* Fallback for when there is no custom background color defined. */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

hr {
	border: 0;
	display: block;
	height: 1px;
	background: #25282c;
	margin-top: 24px;
	margin-bottom: 24px;
}

ul,
ol {
	margin-top: 0;
	padding-left: 24px;
}

ul:not(:last-child),
ol:not(:last-child) {
	margin-bottom: 24px;
}

ul {
	list-style: disc;
	color: #a8cf45;
}

ol {
	list-style: decimal;
}

li:not(:last-child) {
	margin-bottom: 12px;
}

li > ul,
li > ol {
	margin-top: 12px;
	margin-bottom: 0;
}

dl {
	margin-top: 0;
	margin-bottom: 24px;
}

dt {
	font-weight: 700;
}

dd {
	margin-left: 24px;
	margin-bottom: 24px;
}

img {
	border-radius: 2px;
}

img,
svg,
video {
	display: block;
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 48px 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

figcaption {
	padding: 8px 0;
}

table {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
	border-collapse: collapse;
	margin-bottom: 24px;
	width: 100%;
}

tr {
	border-bottom: 1px solid #25282c;
}

th {
	font-weight: 700;
	text-align: left;
}

th,
td {
	padding: 8px 16px;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

.invert-color hr {
	display: block;
	height: 1px;
	background: #eceded;
}

.invert-color tr {
	border-bottom: 1px solid #eceded;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.1px;
}

body {
	color: #9ca9b3;
	font-size: 1rem;
}

body,
button,
input,
select,
textarea {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 800;
	clear: both;
	color: #006cb5;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

h1,
.h1 {
	font-size: 44px;
	line-height: 54px;
	letter-spacing: -0.3px;
}

h2,
.h2 {
	font-size: 32px;
	line-height: 42px;
	letter-spacing: -0.3px;
}

h3,
.h3 {
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.1px;
}

h4,
.h4 {
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.1px;
}

h5,
.h5 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.1px;
}

h6,
.h6,
small,
.text-sm {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.1px;
}

.text-xs {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
}

.text-xxs {
	font-size: 14px;
	line-height: 22px;
}

figcaption {
	font-size: 14px;
	line-height: 22px;
}

a:not(.button) {
	color: #eceded;
	text-decoration: none;
}

a:not(.button):hover,
a:not(.button):active {
	outline: 0;
}

a.button-link {
	color: #9ca9b3;
}

a.button-link:hover,
a.button-link:active {
	color: #eceded;
}

h1,
.h1 {
	margin-top: 48px;
	margin-bottom: 32px;
}

h2,
.h2 {
	margin-top: 48px;
	margin-bottom: 32px;
}

h3,
.h3 {
	margin-top: 36px;
	margin-bottom: 24px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	margin-top: 24px;
	margin-bottom: 24px;
}

p {
	margin-top: 0;
	margin-bottom: 24px;
	color: #2f3037;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.1px;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
}

blockquote::before {
	content: '\201C';
}

blockquote::after {
	content: '\201D';
}

blockquote p {
	display: inline;
}

address {
	border-width: 1px 0;
	border-style: solid;
	border-color: #25282c;
	padding: 24px 0;
	margin: 0 0 24px;
}

pre,
pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6,
pre .h1,
pre .h2,
pre .h3,
pre .h4,
pre .h5,
pre .h6 {
	font-family: 'Courier 10 Pitch', Courier, monospace;
}

pre,
code,
kbd,
tt,
var {
	background: #28292f;
}

pre {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
	max-width: 100%;
	overflow: auto;
	padding: 24px 24px;
	margin-top: 24px;
	margin-bottom: 24px;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
	padding: 2px 4px;
}

abbr,
acronym {
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

b,
strong {
	font-weight: 700;
}

.invert-color {
	color: #717d86;
}

.invert-color a:not(.button) {
	color: #717d86;
	text-decoration: none;
}

.invert-color a:not(.button):hover,
.invert-color a:not(.button):active {
	outline: 0;
}

.invert-color a.button-link:hover,
.invert-color a.button-link:active {
	color: #6163ff;
}

.invert-color a.func-link:hover,
.invert-color a.func-link:active {
	color: #6163ff;
}

.invert-color h1,
.invert-color h2,
.invert-color h3,
.invert-color h4,
.invert-color h5,
.invert-color h6,
.invert-color .h1,
.invert-color .h2,
.invert-color .h3,
.invert-color .h4,
.invert-color .h5,
.invert-color .h6 {
	color: #2f3037;
}

.invert-color address {
	border-color: #eceded;
}

.invert-color pre,
.invert-color code,
.invert-color kbd,
.invert-color tt,
.invert-color var {
	background: #28292f;
}

@media (max-width: 640px) {
	.h1-mobile {
		font-size: 44px;
		line-height: 54px;
		letter-spacing: -0.3px;
	}
	.h2-mobile {
		font-size: 32px;
		line-height: 42px;
		letter-spacing: -0.3px;
	}
	.h3-mobile {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: -0.1px;
	}
	.h4-mobile {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: -0.1px;
	}
	.h5-mobile {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.1px;
	}
	.h6-mobile {
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -0.1px;
	}
}

@media (min-width: 641px) {
	h1,
	.h1 {
		font-size: 52px;
		line-height: 62px;
		letter-spacing: -0.3px;
	}
	h2,
	.h2 {
		font-size: 44px;
		line-height: 54px;
		letter-spacing: -0.3px;
	}
	h3,
	.h3 {
		font-size: 32px;
		line-height: 42px;
		letter-spacing: -0.3px;
	}
}

/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
.container,
.container-sm,
.container-xs {
	width: 100%;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

@media (min-width: 481px) {
	.container,
	.container-sm,
	.container-xs {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.container {
	max-width: 1144px;
}

.container-sm {
	max-width: 960px;
}

.container-xs {
	max-width: 684px;
}

[class*='container'] [class*='container'] {
	padding-left: 0;
	padding-right: 0;
}

[class*='container'] .container-sm {
	max-width: 896px;
}

[class*='container'] .container-xs {
	max-width: 620px;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
	font-weight: 600;
	padding: 11px 31px;
	height: 48px;
	text-decoration: none !important;
	color: #25282c;
	background-color: #eceded;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 2px;
	cursor: pointer;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	letter-spacing: inherit;
	white-space: nowrap;
	-webkit-transition: background 0.15s ease;
	transition: background 0.15s ease;
}

.button:active {
	outline: 0;
}

.button:hover {
	background-color: #dfe1e1;
}

.button.is-loading {
	position: relative;
	color: transparent !important;
	pointer-events: none;
}

.button.is-loading::after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;
	top: 50%;
	left: 50%;
	border: 2px solid #25282c;
	border-radius: 50%;
	border-right-color: transparent !important;
	border-top-color: transparent !important;
	z-index: 1;
	-webkit-animation: button-loading 0.6s infinite linear;
	animation: button-loading 0.6s infinite linear;
}

.button[disabled] {
	cursor: not-allowed;
	color: #33363a;
	background-color: #717d86 !important;
}

.button[disabled].is-loading::after {
	border-color: #33363a;
}

.button-sm {
	padding: 5px 23px;
	height: 36px;
}

.button-dark {
	color: #eceded;
	background-color: #25282c;
}

.button-dark:hover {
	background-color: #2a2d32;
}

.button-dark.is-loading::after {
	border-color: #eceded;
}

.button-primary {
	color: #eceded;
	background-color: #6163ff;
}

.button-primary:hover {
	background-color: #6b6dff;
}

.button-primary.is-loading::after {
	border-color: #eceded;
}

.button-secondary {
	color: #eceded;
	background-color: #24e5af;
}

.button-secondary:hover {
	background-color: #2de6b2;
}

.button-secondary.is-loading::after {
	border-color: #eceded;
}

.button-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.button-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: -8px;
	margin-left: -8px;
	margin-top: -8px;
}

.button-group:last-of-type {
	margin-bottom: -8px;
}

.button-group:not(:last-of-type) {
	margin-bottom: 8px;
}

.button-group > [class*='button'] {
	margin: 8px;
}

@media (max-width: 640px) {
	.button-wide-mobile {
		width: 100%;
		max-width: 280px;
	}
}

@-webkit-keyframes button-loading {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes button-loading {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
fieldset {
	/* Reset fieldset */
	padding: 0;
	margin: 0;
	border: 0;
}

.form-label,
.form-switch,
.form-slider {
	color: #717d86;
	font-weight: 500;
}

.form-label {
	font-size: 14px;
	line-height: 22px;
}

.form-input,
.form-select,
.form-checkbox input,
.form-radio input {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #eceded;
	border-width: 1px;
	border-style: solid;
	border-color: #2f3037;
}

.form-input:hover,
.form-select:hover,
.form-checkbox input:hover,
.form-radio input:hover {
	border-color: #717d86;
}

.form-input:active,
.form-input:focus,
.form-select:active,
.form-select:focus,
.form-checkbox input:active,
.form-checkbox input:focus,
.form-radio input:active,
.form-radio input:focus {
	outline: none;
	border-color: #6163ff;
}

.form-input[disabled],
.form-select[disabled],
.form-checkbox input[disabled],
.form-radio input[disabled] {
	cursor: not-allowed;
	background-color: #33363a;
	border-color: #25282c;
}

.form-input.form-error,
.form-select.form-error,
.form-checkbox input.form-error,
.form-radio input.form-error {
	border-color: #ff6171;
}

.form-input.form-warning,
.form-select.form-warning,
.form-checkbox input.form-warning,
.form-radio input.form-warning {
	border-color: #ffa173;
}

.form-input.form-success,
.form-select.form-success,
.form-checkbox input.form-success,
.form-radio input.form-success {
	border-color: #24e5af;
}

.form-input,
.form-select {
	display: block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
	padding: 11px 9px;
	height: 48px;
	border-radius: 0;
	color: #2f3037;
	-webkit-box-shadow: none;
	box-shadow: none;
	max-width: 100%;
	width: 100%;
}

.form-input::-webkit-input-placeholder {
	color: #717d86;
}

.form-input:-ms-input-placeholder {
	color: #717d86;
}

.form-input::-ms-input-placeholder {
	color: #717d86;
}

.form-input::placeholder {
	color: #717d86;
}

.form-input::-ms-input-placeholder {
	color: #717d86;
}

textarea.form-input {
	height: auto;
	resize: vertical;
}

.form-select {
	padding-right: 34px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%2011.4L2.6%206%204%204.6l4%204%204-4L13.4%206%208%2011.4z%22%20fill%3D%22%23eceded%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	background-position: right 9px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}

.form-select-sm {
	padding-right: 38px;
	background-position: right 11px center;
}

.form-select-sm,
.form-input-sm {
	padding: 5px 11px;
	height: 36px;
}

.has-icon-left,
.has-icon-right {
	position: relative;
}

.has-icon-left svg,
.has-icon-right svg {
	pointer-events: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.has-icon-left .form-input {
	padding-left: 34px;
}

.has-icon-left .form-input + svg {
	left: 9px;
}

.has-icon-left .form-input-sm {
	padding-left: 38px;
}

.has-icon-left .form-input-sm + svg {
	left: 11px;
}

.has-icon-right .form-input {
	padding-right: 34px;
}

.has-icon-right .form-input + svg {
	right: 9px;
}

.has-icon-right .form-input-sm {
	padding-right: 38px;
}

.has-icon-right .form-input-sm + svg {
	right: 11px;
}

.form-checkbox,
.form-radio,
.form-switch {
	cursor: pointer;
}

.form-checkbox,
.form-radio,
.form-switch,
.form-slider {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.1px;
}

.form-checkbox,
.form-radio {
	color: #9ca9b3;
}

.form-checkbox,
.form-radio {
	position: relative;
	padding-left: 24px;
}

.form-checkbox input,
.form-radio input {
	position: absolute;
	left: 0;
	top: 3px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.form-checkbox input:checked,
.form-radio input:checked {
	background-color: #6163ff !important;
	border-color: #6163ff !important;
	background-position: 50%;
}

.form-checkbox input {
	border-radius: 2px;
}

.form-checkbox input:checked {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxwYXRoIGQ9Ik0xMS40IDVMMTAgMy42bC00IDQtMi0yTDIuNiA3IDYgMTAuNHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
}

.form-radio input {
	border-radius: 50%;
}

.form-radio input:checked {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBmaWxsPSIjRkZGIiBjeD0iNyIgY3k9IjciIHI9IjMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
}

.form-switch {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form-switch input {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.form-switch .form-switch-icon {
	display: block;
	position: relative;
	min-width: 60px;
	width: 60px;
	height: 32px;
	border-radius: 16px;
	background: #33363a;
}

.form-switch .form-switch-icon::before {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 28px;
	height: 28px;
	border-radius: 14px;
	background: #eceded;
	-webkit-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.form-switch input:checked + .form-switch-icon {
	background: #6163ff;
}

.form-switch input:checked + .form-switch-icon::before {
	left: 30px;
}

.form-switch > span:not(.form-switch-icon) {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	margin-right: 12px;
}

.form-switch > span:not(.form-switch-icon):last-child {
	-webkit-box-ordinal-group: initial;
	-ms-flex-order: initial;
	order: initial;
	margin-left: 12px;
	margin-right: 0;
}

.form-slider > span {
	display: block;
}

.form-slider input[type='range'] {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #9ca9b3;
	border-radius: 3px;
	height: 6px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	outline: none;
}

.form-slider input[type='range']::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	background-color: #6163ff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23eceded%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	height: 36px;
	width: 36px;
}

.form-slider input[type='range']::-moz-range-thumb {
	background-color: #6163ff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23eceded%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	height: 36px;
	width: 36px;
}

.form-slider input[type='range']::-ms-thumb {
	background-color: #6163ff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23eceded%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	height: 36px;
	width: 36px;
}

.form-slider input[type='range']::-moz-focus-outer {
	border: 0;
}

.invert-color .form-label,
.invert-color .form-switch,
.invert-color .form-slider {
	color: #33363a;
}

.invert-color .form-input,
.invert-color .form-select,
.invert-color .form-checkbox input,
.invert-color .form-radio input {
	border-color: #e2e3e3;
}

.invert-color .form-input:active,
.invert-color .form-input:focus,
.invert-color .form-select:active,
.invert-color .form-select:focus,
.invert-color .form-checkbox input:active,
.invert-color .form-checkbox input:focus,
.invert-color .form-radio input:active,
.invert-color .form-radio input:focus {
	border-color: #6163ff;
}

.invert-color .form-input[disabled],
.invert-color .form-select[disabled],
.invert-color .form-checkbox input[disabled],
.invert-color .form-radio input[disabled] {
	background-color: #e2e3e3;
}

.invert-color .form-input,
.invert-color .form-select {
	color: #33363a;
}

.invert-color .form-select {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%2011.4L2.6%206%204%204.6l4%204%204-4L13.4%206%208%2011.4z%22%20fill%3D%22%2333363a%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}

.invert-color .form-checkbox,
.invert-color .form-radio {
	color: #33363a;
}

.invert-color .form-checkbox input:checked,
.invert-color .form-radio input:checked {
	background-color: #28292f !important;
	border-color: #28292f !important;
}

.invert-color .form-slider input[type='range']::-webkit-slider-thumb {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23eceded%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
}

.invert-color .form-slider input[type='range']::-moz-range-thumb {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23eceded%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
}

.invert-color .form-slider input[type='range']::-ms-thumb {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23eceded%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
}

.form-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form-group .form-input {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	margin-right: 12px;
}

.form-group .button {
	padding-left: 24px;
	padding-right: 24px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.form-hint {
	font-size: 14px;
	line-height: 22px;
	margin-top: 8px;
}

@media (max-width: 640px) {
	.form-group-desktop .form-input {
		margin-bottom: 12px;
	}
	.form-group-desktop .button {
		width: 100%;
	}
}

@media (min-width: 641px) {
	.form-group-desktop {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.form-group-desktop .form-input {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-negative: 1;
		flex-shrink: 1;
		margin-right: 12px;
	}
	.form-group-desktop .button {
		padding-left: 24px;
		padding-right: 24px;
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}
}

/*--------------------------------------------------------------
# Hamburger
--------------------------------------------------------------*/
.header-nav-toggle {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	cursor: pointer;
}

.hamburger,
.hamburger-inner {
	display: block;
	pointer-events: none;
}

.hamburger {
	position: relative;
	width: 24px;
	height: 24px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 24px;
	height: 2px;
	position: absolute;
	background: #2f3037;
}

.invert-color .hamburger-inner,
.invert-color .hamburger-inner::before,
.invert-color .hamburger-inner::after {
	background: #25282c;
}

.hamburger-inner {
	top: 50%;
	margin-top: -1px;
	-webkit-transition-duration: 0.22s;
	transition-duration: 0.22s;
	-webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}

.hamburger-inner::before {
	top: -7px;
	-webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
	transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger-inner::after {
	bottom: -7px;
	-webkit-transition: bottom 0.1s 0.25s ease-in, width 0.1s 0.25s ease-in,
		-webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s 0.25s ease-in, width 0.1s 0.25s ease-in,
		-webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s 0.25s ease-in,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
		width 0.1s 0.25s ease-in;
	transition: bottom 0.1s 0.25s ease-in,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
		width 0.1s 0.25s ease-in,
		-webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.off-nav-is-active .hamburger-inner {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.off-nav-is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	-webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
	transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.off-nav-is-active .hamburger-inner::after {
	width: 24px;
	bottom: 0;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: bottom 0.1s ease-out, width 0.1s ease-out,
		-webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.1s ease-out, width 0.1s ease-out,
		-webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.1s ease-out,
		transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.1s ease-out;
	transition: bottom 0.1s ease-out,
		transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.1s ease-out,
		-webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal,
.modal::before {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.modal {
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 40;
}

.modal.modal-video .modal-inner {
	padding: 0;
	max-width: 1024px;
}

.modal::before,
.modal .modal-inner {
	display: none;
}

.modal::before {
	content: '';
	position: absolute;
	background-color: rgba(47, 48, 55, 0.88);
}

.modal.is-active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.modal.is-active::before,
.modal.is-active .modal-inner {
	display: block;
}

.modal.is-active .modal-inner {
	-webkit-animation: slideUpInModal 0.15s ease-in-out both;
	animation: slideUpInModal 0.15s ease-in-out both;
}

.modal.is-active::before {
	-webkit-animation: slideUpInModalBg 0.15s ease-in-out both;
	animation: slideUpInModalBg 0.15s ease-in-out both;
}

.modal-inner {
	max-height: calc(100vh - 16px * 2);
	overflow: auto;
	position: relative;
	width: calc(100% - (16px * 2));
	max-width: 520px;
	margin-left: 16px;
	margin-right: 16px;
	background: #25282c;
}

.modal-content {
	padding: 48px 16px;
}

.modal-close {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 16px;
	top: 16px;
	width: 16px;
	height: 16px;
}

.modal-close::before,
.modal-close::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -8px;
	width: 16px;
	height: 2px;
	background: #717d86;
}

.modal-close::before {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
	background: #9ca9b3;
}

@media (min-width: 641px) {
	.modal-inner {
		margin: 0 auto;
		max-height: calc(100vh - 48px * 2);
	}
	.modal-content {
		padding-top: 64px;
		padding-bottom: 64px;
		padding-left: 32px;
		padding-right: 32px;
	}
}

@-webkit-keyframes slideUpInModal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slideUpInModal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes slideUpInModalBg {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUpInModalBg {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
.split-wrap {
	margin-top: -24px;
}

.split-wrap:last-of-type {
	margin-bottom: -24px;
}

.split-wrap:not(:last-of-type) {
	margin-bottom: 24px;
}

.split-wrap .split-item {
	padding-top: 24px;
	padding-bottom: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.split-wrap .split-item .split-item-image {
	position: relative;
	width: 100%;
}

.split-wrap .split-item .split-item-image img,
.split-wrap .split-item .split-item-image svg,
.split-wrap .split-item .split-item-image video {
	width: auto;
	height: auto;
	max-width: 100%;
	overflow: visible;
}

.split-wrap .split-item .split-item-image.split-item-image-fill img,
.split-wrap .split-item .split-item-image.split-item-image-fill svg,
.split-wrap .split-item .split-item-image.split-item-image-fill video {
	width: 100%;
}

@media (max-width: 640px) {
	.split-wrap .split-item .split-item-content {
		margin-bottom: 32px;
	}
	.split-wrap.invert-mobile .split-item .split-item-content {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin-bottom: 0 !important;
	}
	.split-wrap.invert-mobile .split-item .split-item-image {
		margin-bottom: 32px;
	}
}

@media (min-width: 641px) {
	.split-wrap {
		margin-top: -40px;
	}
	.split-wrap:last-of-type {
		margin-bottom: -40px;
	}
	.split-wrap:not(:last-of-type) {
		margin-bottom: 40px;
	}
	.split-wrap .split-item {
		padding-top: 40px;
		padding-bottom: 40px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.split-wrap .split-item .split-item-content {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		width: 396px;
		margin-bottom: 0;
		margin-right: 64px;
	}
	.split-wrap .split-item .split-item-image {
		min-width: 436px;
	}
	.split-wrap:not(.invert-desktop) .split-item:nth-child(even),
	.split-wrap.invert-desktop .split-item:nth-child(odd) {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.split-wrap:not(.invert-desktop)
		.split-item:nth-child(even)
		.split-item-content,
	.split-wrap.invert-desktop .split-item:nth-child(odd) .split-item-content {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin-left: 64px;
		margin-right: 0;
	}
	.split-wrap:not(.invert-desktop)
		.split-item:nth-child(odd)
		.split-item-image
		img,
	.split-wrap:not(.invert-desktop)
		.split-item:nth-child(odd)
		.split-item-image
		svg,
	.split-wrap:not(.invert-desktop)
		.split-item:nth-child(odd)
		.split-item-image
		video,
	.split-wrap.invert-desktop .split-item:nth-child(even) .split-item-image img,
	.split-wrap.invert-desktop .split-item:nth-child(even) .split-item-image svg,
	.split-wrap.invert-desktop
		.split-item:nth-child(even)
		.split-item-image
		video {
		margin-left: auto;
	}
	.split-wrap.align-top .split-item {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}

@media (min-width: 821px) {
	.container .split-wrap .split-item .split-item-content {
		width: 488px;
	}
	.container .split-wrap .split-item .split-item-image {
		min-width: 528px;
	}
}

/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
.tiles-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: -12px;
	margin-left: -12px;
	margin-top: -12px;
}

.tiles-wrap:last-of-type {
	margin-bottom: -12px;
}

.tiles-wrap:not(:last-of-type) {
	margin-bottom: 12px;
}

.tiles-wrap.push-left::after {
	content: '';
	-ms-flex-preferred-size: 330px;
	flex-basis: 330px;
	max-width: 330px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding-left: 12px;
	padding-right: 12px;
	height: 0;
}

.tiles-item {
	-ms-flex-preferred-size: 330px;
	flex-basis: 330px;
	max-width: 330px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 12px;
}

.tiles-item * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tiles-item-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	padding: 32px 24px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	position: absolute !important;
	top: 0;
	width: 100%;
	z-index: 10 !important;
}

.site-header + .site-content .section:first-of-type {
	padding-top: 80px;
}

.site-header .brand {
	margin-right: 12px;
}

.site-header-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 80px;
}

.header-nav {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.header-nav .header-nav-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.header-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	white-space: nowrap;
	margin-bottom: 0;
}

.header-nav ul:first-of-type {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.header-nav li + .header-button {
	margin-left: 12px;
}

.header-nav a:not(.button) {
	display: block;
	color: #2f3037;
	font-weight: 500;
	padding: 0 12px;
}

.header-nav a:not(.button):hover,
.header-nav a:not(.button):active {
	color: #717d86;
}

.invert-color .header-nav a:not(.button) {
	color: #33363a;
}

.invert-color .header-nav a:not(.button):hover,
.invert-color .header-nav a:not(.button):active {
	color: #6163ff;
}

.header-nav a.button {
	margin-left: 12px;
}

.header-nav a.svg {
	margin-left: 2%;
	margin-right: 2%;
}

.header-nav-center:first-of-type {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.header-nav-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.header-nav-right + .header-nav-right {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
}

.header-nav-toggle {
	display: none;
}

@media (max-width: 640px) {
	.header-nav-toggle {
		display: block;
	}
	.header-nav-toggle + .header-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 9999;
		background: #e4e6e6;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.25s ease-in-out, opacity 0.15s;
		transition: max-height 0.25s ease-in-out, opacity 0.15s;
	}
	.header-nav-toggle + .header-nav.is-active {
		opacity: 1;
	}
	.header-nav-toggle + .header-nav .header-nav-inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 24px;
	}
	.header-nav-toggle + .header-nav ul {
		display: block;
		text-align: center;
	}
	.header-nav-toggle + .header-nav ul a:not(.button) {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		color: #2f3037;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.header-nav-toggle + .header-nav a.button {
		margin-left: 0;
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
.is-boxed {
	background: #34353d;
}

.is-boxed .body-wrap {
	max-width: 1440px;
	margin: 0 auto;
	-webkit-box-shadow: 0 20px 48px rgba(47, 48, 55, 0.8);
	box-shadow: 0 20px 48px rgba(47, 48, 55, 0.8);
}

.is-boxed .body-wrap::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #eceded;
	z-index: -10;
}

.body-wrap {
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	position: relative;
}

.site-footer::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #25282c;
	z-index: -3;
}

.site-footer-inner {
	padding: 36px 0;
}

.footer-top {
	padding-bottom: 12px;
}

.footer-bottom {
	padding-top: 12px;
}

.footer-blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -24px;
	margin-left: -24px;
	margin-top: -12px;
}

.footer-blocks:last-of-type {
	margin-bottom: 28px;
}

.footer-blocks:not(:last-of-type) {
	margin-bottom: 12px;
}

.footer-block {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 160px;
	flex-basis: 160px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 12px 24px;
}

.footer-block * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-block ul li:not(:last-child) {
	margin-bottom: 4px;
}

.footer-block a {
	color: #9ca9b3;
}

.footer-block a:hover,
.footer-block a:active {
	color: #eceded;
}

.footer-block-title {
	font-size: 14px;
	line-height: 22px;
	font-weight: 700;
	color: #eceded;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.invert-color .footer-block-title {
	color: #2f3037;
}

.footer-social a,
.footer-nav a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-social ul,
.footer-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
	margin-bottom: 0;
}

.footer-social ul {
	margin-right: -16px;
	margin-left: -16px;
}

.footer-social li {
	padding: 0 8px;
}

.footer-social a {
	padding: 8px;
}

.footer-social a svg {
	fill: #6163ff;
	-webkit-transition: fill 0.15s ease;
	transition: fill 0.15s ease;
}

.footer-social a:hover {
	fill: #ff6171;
}

.footer-nav {
	margin-right: -12px;
	margin-left: -12px;
}

.footer-nav a {
	color: #9ca9b3;
	padding: 0 12px;
}

.footer-nav a:hover,
.footer-nav a:active {
	color: #eceded;
}

@media (max-width: 640px) {
	.footer-top > *:not(:last-child),
	.footer-bottom > *:not(:last-child) {
		margin-bottom: 24px;
	}
}

@media (min-width: 641px) {
	.footer-top.space-between,
	.footer-bottom.space-between {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.footer-top.invert-order-desktop > *:first-child,
	.footer-bottom.invert-order-desktop > *:first-child {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
.section-inner {
	position: relative;
	padding-top: 48px;
	padding-bottom: 48px;
}

.section-header {
	padding-bottom: 48px;
}

@media (min-width: 641px) {
	.section-inner {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section-header {
		padding-bottom: 60px;
	}
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero-inner > .hero-content + .hero-figure,
.hero-inner > .hero-figure + .hero-content {
	margin-top: 48px;
}

.hero-inner > .hero-figure > a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: top;
}

@media (max-width: 640px) {
	.hero .split-wrap .split-item .split-item-content {
		margin-bottom: 48px;
	}
	.hero .split-wrap.invert-mobile .split-item .split-item-image {
		margin-bottom: 48px;
	}
}

@media (min-width: 641px) {
	.hero-inner > .hero-content + .hero-figure,
	.hero-inner > .hero-figure + .hero-content {
		margin-top: 64px;
	}
}

/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
@media (min-width: 641px) {
	.features-split .section-header {
		padding-bottom: 92px;
	}
}

/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
.features-tiles .tiles-wrap {
	margin-right: -16px;
	margin-left: -16px;
	margin-top: -16px;
}

.features-tiles .tiles-wrap:last-of-type {
	margin-bottom: -16px;
}

.features-tiles .tiles-wrap:not(:last-of-type) {
	margin-bottom: 16px;
}

.features-tiles .tiles-wrap.push-left::after {
	-ms-flex-preferred-size: 317px;
	flex-basis: 317px;
	max-width: 317px;
	padding-left: 16px;
	padding-right: 16px;
}

.features-tiles .tiles-item {
	-ms-flex-preferred-size: 317px;
	flex-basis: 317px;
	max-width: 317px;
	padding: 16px;
}

.features-tiles .tiles-item-inner {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 641px) {
	.features-tiles .tiles-wrap {
		margin-right: -32px;
		margin-left: -32px;
		margin-top: -32px;
	}
	.features-tiles .tiles-wrap:last-of-type {
		margin-bottom: -32px;
	}
	.features-tiles .tiles-wrap:not(:last-of-type) {
		margin-bottom: 32px;
	}
	.features-tiles .tiles-wrap.push-left::after {
		padding-left: 32px;
		padding-right: 32px;
	}
	.features-tiles .tiles-item {
		padding: 32px;
	}
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.testimonial .tiles-wrap.push-left::after {
	-ms-flex-preferred-size: 344px;
	flex-basis: 344px;
	max-width: 344px;
}

.testimonial .tiles-item {
	-ms-flex-preferred-size: 344px;
	flex-basis: 344px;
	max-width: 344px;
}

.testimonial .tiles-item-inner {
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 32px;
	padding-right: 32px;
}

.testimonial-item-content {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.testimonial-item-source {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
.cta .section-inner {
	padding-top: 48px;
	padding-bottom: 48px;
}

.cta-slogan {
	margin-bottom: 40px;
}

@media (min-width: 641px) {
	.cta .section-inner {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.cta-split {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.cta-split .cta-slogan {
		margin-bottom: 0;
		margin-right: 36px;
	}
}

/*--------------------------------------------------------------
# Theme
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Illustrations
--------------------------------------------------------------*/
[class*='illustration-'] {
	position: relative;
}

[class*='illustration-']::after {
	pointer-events: none;
}

[class*='illustration-element-']::after {
	z-index: -1;
}

[class*='illustration-section-']::after {
	z-index: -2;
}

.illustration-section-01::after {
	content: '';
	position: absolute;
	width: 100%;
	max-width: 100%;
	height: 286px;
	background-image: url(../../../images/illustration-section-01.svg);
	background-repeat: no-repeat;
	background-size: auto;
	left: 50%;
	top: 0;
	background-position: center top;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.illustration-section-02::after {
	content: '';
	position: absolute;
	width: 100%;
	max-width: 100%;
	height: 253px;
	background-image: url(../../../images/illustration-section-02.svg);
	background-repeat: no-repeat;
	background-size: auto;
	left: 50%;
	background-position: center;
	top: calc(50% + 30px);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
}

/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hamburger
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
.features-tiles-item-image {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	/* inline-flex */
	border-radius: 50%;
	background-color: #006cb5;
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.testimonial .tiles-item-inner {
	background: #25282c;
}

.testimonial-item-content {
	position: relative;
}

.testimonial-item-content::before {
	content: '';
	display: block;
	width: 24px;
	height: 18px;
	margin-top: 12px;
	margin-bottom: 16px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2013.481c0-2.34.611-4.761%201.833-7.263C3.056%203.716%204.733%201.643%206.865%200L11%202.689C9.726%204.382%208.777%206.093%208.152%207.824c-.624%201.73-.936%203.578-.936%205.545V18H0v-4.519zm13%200c0-2.34.611-4.761%201.833-7.263%201.223-2.502%202.9-4.575%205.032-6.218L24%202.689c-1.274%201.693-2.223%203.404-2.848%205.135-.624%201.73-.936%203.578-.936%205.545V18H13v-4.519z%22%20fill%3D%22%236163ff%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
}

.testimonial-item-footer {
	font-weight: 600;
	padding-top: 20px;
}

.testimonial-item-footer.has-top-divider::before {
	background: #33363a;
}

.testimonial-item-link {
	color: #1cb68b;
}

.testimonial-item-link a {
	color: #1cb68b;
	text-decoration: none;
}

.testimonial-item-link a:hover {
	color: #73efcc;
}

/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
.cta .form-input {
	border-color: #2f3037;
	border-radius: 6px;
}

.cta-inner {
	padding-left: 16px;
	padding-right: 16px;
	background-color: #f5f5f5;
	/* background-image: url(); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
}

@media (min-width: 641px) {
	.cta .form-input {
		min-width: 400px;
	}
	.cta-inner {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
.screen-reader {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.list-reset {
	list-style: none;
	padding: 0;
}

.list-reset li {
	margin: 0;
}

.ta-l {
	text-align: left;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.text-color-high {
	color: #eceded;
}

.text-color-mid {
	color: #9ca9b3;
}

.text-color-low {
	color: #717d86;
}

.text-color-primary {
	color: #5658dd;
}

.text-color-secondary {
	color: #24e5af;
}

.text-color-error {
	color: #ff6171;
}

.text-color-warning {
	color: #ffa173;
}

.text-color-success {
	color: #24e5af;
}

.invert-color .text-color-high {
	color: #2f3037;
}

.invert-color .text-color-mid {
	color: #25282c;
}

.invert-color .text-color-low {
	color: #717d86;
}

.tt-u {
	text-transform: uppercase;
}

.image-full {
	width: 100%;
}

.image-larger {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: calc(100% + 96px);
	max-width: 100vw;
}

.has-bg-color {
	position: relative;
	background-color: white;
	z-index: 0;
}

.has-shadow {
	-webkit-box-shadow: 0 24px 64px rgba(47, 48, 55, 0.64);
	box-shadow: 0 24px 64px rgba(47, 48, 55, 0.64);
}

img.has-shadow {
	border-radius: 2px;
}

.has-top-divider {
	position: relative;
}

.has-top-divider::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 1px;
	background: #25282c;
}

.has-bottom-divider {
	position: relative;
}

.has-bottom-divider::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 1px;
	background: #25282c;
}

.invert-color .has-top-divider {
	position: relative;
}

.invert-color .has-top-divider::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 1px;
	background: #eceded;
}

.invert-color .has-bottom-divider {
	position: relative;
}

.invert-color .has-bottom-divider::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 1px;
	background: #eceded;
}

.center-content {
	text-align: center;
}

.center-content img,
.center-content svg,
.center-content video {
	margin-left: auto;
	margin-right: auto;
}

.center-content .button-group {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.responsive-video.is-4-3 {
	padding-bottom: 75%;
}

.responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.m-0 {
	margin: 0;
}

.mt-0 {
	margin-top: 0;
}

.mr-0 {
	margin-right: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.ml-0 {
	margin-left: 0;
}

.m-4 {
	margin: 4px;
}

.mt-4 {
	margin-top: 4px;
}

.mr-4 {
	margin-right: 4px;
}

.mb-4 {
	margin-bottom: 4px;
}

.ml-4 {
	margin-left: 4px;
}

.m-8 {
	margin: 8px;
}

.mt-8 {
	margin-top: 8px;
}

.mr-8 {
	margin-right: 8px;
}

.mb-8 {
	margin-bottom: 8px;
}

.ml-8 {
	margin-left: 8px;
}

.m-12 {
	margin: 12px;
}

.mt-12 {
	margin-top: 12px;
}

.mr-12 {
	margin-right: 12px;
}

.mb-12 {
	margin-bottom: 12px;
}

.ml-12 {
	margin-left: 12px;
}

.m-16 {
	margin: 16px;
}

.mt-16 {
	margin-top: 16px;
}

.mr-16 {
	margin-right: 16px;
}

.mb-16 {
	margin-bottom: 16px;
}

.ml-16 {
	margin-left: 16px;
}

.m-24 {
	margin: 24px;
}

.mt-24 {
	margin-top: 24px;
}

.mr-24 {
	margin-right: 24px;
}

.mb-24 {
	margin-bottom: 24px;
}

.ml-24 {
	margin-left: 24px;
}

.m-32 {
	margin: 32px;
}

.mt-32 {
	margin-top: 32px;
}

.mr-32 {
	margin-right: 32px;
}

.mb-32 {
	margin-bottom: 32px;
}

.ml-32 {
	margin-left: 32px;
}

.p-0 {
	padding: 0;
}

.pt-0 {
	padding-top: 0;
}

.pr-0 {
	padding-right: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.pl-0 {
	padding-left: 0;
}

.p-4 {
	padding: 4px;
}

.pt-4 {
	padding-top: 4px;
}

.pr-4 {
	padding-right: 4px;
}

.pb-4 {
	padding-bottom: 4px;
}

.pl-4 {
	padding-left: 4px;
}

.p-8 {
	padding: 8px;
}

.pt-8 {
	padding-top: 8px;
}

.pr-8 {
	padding-right: 8px;
}

.pb-8 {
	padding-bottom: 8px;
}

.pl-8 {
	padding-left: 8px;
}

.p-12 {
	padding: 12px;
}

.pt-12 {
	padding-top: 12px;
}

.pr-12 {
	padding-right: 12px;
}

.pb-12 {
	padding-bottom: 12px;
}

.pl-12 {
	padding-left: 12px;
}

.p-16 {
	padding: 16px;
}

.pt-16 {
	padding-top: 16px;
}

.pr-16 {
	padding-right: 16px;
}

.pb-16 {
	padding-bottom: 16px;
}

.pl-16 {
	padding-left: 16px;
}

.p-24 {
	padding: 24px;
}

.pt-24 {
	padding-top: 24px;
}

.pr-24 {
	padding-right: 24px;
}

.pb-24 {
	padding-bottom: 24px;
}

.pl-24 {
	padding-left: 24px;
}

.p-32 {
	padding: 32px;
}

.pt-32 {
	padding-top: 32px;
}

.pr-32 {
	padding-right: 32px;
}

.pb-32 {
	padding-bottom: 32px;
}

.pl-32 {
	padding-left: 32px;
}

.spacer-4 {
	padding-top: 4px;
}

.spacer-8 {
	padding-top: 8px;
}

.spacer-12 {
	padding-top: 12px;
}

.spacer-16 {
	padding-top: 16px;
}

.spacer-24 {
	padding-top: 24px;
}

.spacer-32 {
	padding-top: 32px;
}

.spacer-48 {
	padding-top: 48px;
}

.spacer-64 {
	padding-top: 64px;
}

@media (max-width: 640px) {
	.ta-l-mobile {
		text-align: left;
	}
	.ta-c-mobile {
		text-align: center;
	}
	.ta-r-mobile {
		text-align: right;
	}
	.center-content-mobile {
		text-align: center;
	}
	.center-content-mobile img,
	.center-content-mobile svg,
	.center-content-mobile video {
		margin-left: auto;
		margin-right: auto;
	}
	.center-content-mobile .button-group {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.spacer-4-mobile {
		padding-top: 4px;
	}
	.spacer-8-mobile {
		padding-top: 8px;
	}
	.spacer-12-mobile {
		padding-top: 12px;
	}
	.spacer-16-mobile {
		padding-top: 16px;
	}
	.spacer-24-mobile {
		padding-top: 24px;
	}
	.spacer-32-mobile {
		padding-top: 32px;
	}
	.spacer-48-mobile {
		padding-top: 48px;
	}
	.spacer-64-mobile {
		padding-top: 64px;
	}
}

@media (min-width: 641px) {
	.ta-l-desktop {
		text-align: left;
	}
	.ta-c-desktop {
		text-align: center;
	}
	.ta-r-desktop {
		text-align: right;
	}
	.center-content-desktop {
		text-align: center;
	}
	.center-content-desktop img,
	.center-content-desktop svg,
	.center-content-desktop video {
		margin-left: auto;
		margin-right: auto;
	}
	.center-content-desktop .button-group {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
/*# sourceMappingURL=style.css.map */
