// Call to action (core/sections/_cta.scss)
$cta--padding-t__mobile: 48px; // cta, top padding (mobile)
$cta--padding-b__mobile: 48px; // cta, bottom padding (mobile)
$cta--padding-t__desktop: 64px; // cta, top padding (desktop)
$cta--padding-b__desktop: 64px; // cta, bottom padding (desktop)
$cta-slogan--padding-v__mobile: 40px; // cta slogan, margin bottom (mobile)
$cta-slogan--padding-v__desktop: null; // cta slogan, margin bottom (desktop)
$cta-slogan--padding-h__desktop: 36px; // cta slogan, minimum distance between slogan and actions (only .cta-split desktop)
